<div class="overflow-x-auto">
  <table mat-table [dataSource]="bookData">
    <ng-container matColumnDef="cover">
      <th mat-header-cell *matHeaderCellDef>Cover</th>
      <td mat-cell *matCellDef="let book">
        <img
          class="h-auto w-36 py-4"
          [src]="book.thumbnailUrl"
          [alt]="book.title"
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity-of-chapters">
      <th mat-header-cell *matHeaderCellDef>Quantity of chapters</th>
      <td mat-cell *matCellDef="let book">{{ book.chapterCount }}</td>
    </ng-container>
    <ng-container matColumnDef="published-date">
      <th mat-header-cell *matHeaderCellDef>Published Date</th>
      <td mat-cell *matCellDef="let book">{{ book.publishedAt }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let book">
        <button mat-fab extended (click)="goToEditBook(book)">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
