<div
  class="flex items-center justify-center min-h-screen"
  [style.backgroundImage]="'url(https://png.pngtree.com/thumb_back/fw800/background/20210907/pngtree-beautiful-anime-manga-scene-background-material-image_810625.jpg)'"
  [style.backgroundSize]="'cover'"
  [style.backgroundPosition]="'center'"
>
  <div *ngIf="user" class="flex flex-col items-center">
    <img
      class="w-32 h-32 object-cover rounded-full"
      [src]="user.urlPhoto"
      alt="Foto de perfil"
    >
    <h2 class="text-2xl font-semibold mt-4">{{ user.username }}</h2>
    <div class="bg-gray-100 p-4 rounded-lg mt-4">
      <p>{{ user.firstName }} {{ user.lastName }}</p>
      <p>Email: {{ user.email }}</p>
      <p>{{ user.isAuthor ? 'Es autor' : 'No es autor' }}</p>
    </div>
  </div>
</div>
