<div class="p-4">
  <p class="text-3xl font-bold">{{'list_of_chapters' | translate}}</p>
  <table mat-table [dataSource]="chapters">
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef>{{'chapter_number' | translate}}</th>
      <td mat-cell *matCellDef="let chapter">{{ chapter.order }}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>{{'title' | translate}}</th>
      <td mat-cell *matCellDef="let chapter">{{ chapter.title }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{'actions' | translate}}</th>
      <td mat-cell *matCellDef="let chapter">
        <button mat-fab extended (click)="readChapter(chapter)">
          {{'read' | translate}}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
