<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col items-center bg-white rounded-2xl shadow-xl gap-4 p-6"
>
  <p class="text-3xl font-semibold text-center">{{ 'welcome_back' | translate }}</p>
  <mat-form-field class="w-full">
    <mat-label>{{ 'email' | translate }}</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      [errorStateMatcher]="matcher"
      placeholder="readr@mail.com"
    >
    <mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
      {{'please_enter_valid_email' | translate }}
    </mat-error>
    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
      {{'email_is' | translate}} <strong> {{ 'required_1' | translate }}</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-full" appearance="fill" (keydown)="onKeyDown($event)">
    <mat-label>{{'password' | translate}}</mat-label>
    <input
      matInput
      (keydown.enter)="$event.preventDefault()"
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      [errorStateMatcher]="matcher"
    >
    <button
      mat-icon-button
      matSuffix
      (click)="togglePasswordVisibility($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
      {{'password_is' | translate}}<strong> {{'required_2' | translate}}</strong>
    </mat-error>
  </mat-form-field>
  <button
    type="submit"
    class="bg-primary hover:bg-secondary text-xl rounded-full text-white py-2 px-6 duration-300"
  >
    {{'login' | translate }}
  </button>
  <p>{{'dont_have_account' | translate}} <a class="font-semibold text-primary" routerLink="sign-up">{{'signup' | translate}}</a></p>
</form>
