<div class="overflow-x-auto">
  <table mat-table [dataSource]="chapterData">
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef i18n>Order</th>
      <td mat-cell *matCellDef="let chapter">{{ chapter.order }}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef i18n>Title</th>
      <td mat-cell *matCellDef="let chapter">{{ chapter.title }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef i18n>Actions</th>
      <td mat-cell *matCellDef="let chapter">
        <button mat-fab extended i18n (click)="goToEditChapter(chapter)">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
